* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e3442e7;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: 90vh;
  width: 370px;
  background-color: #012635e7;
  border-radius: 20px;
  padding: 30px 20px;
  box-shadow: 5px 5px 10px #162931e7, -5px -5px 10px #4f6974e7;
}

.screenBox input {
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 20px;
  color: #8e9192e7;
  width: 300px;
  padding: 20px;
  text-align: right;
  background-color: inherit;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #6f8791e7, -5px -5px 10px #8e9192e7;
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  color: #8e9192e7;
  font-size: 18px;
}

.btn {
  cursor: pointer;
  text-align: center;
  width: 60px;
  font-size: 18px;
  height: 63px;
  display: grid;
  place-content: center;
  border-radius: 10px;
  background: #012635e7;
  box-shadow: 3px 3px 5px #6f8791e7, -3px -3px 5px #8e9192e7;
}

.btn:hover {
  color: #ffffff;
  border-radius: 20px;
  background: #0e3442e7;
  box-shadow: 5px 5px 10px #6f8791e7, -5px -5px 10px #8e9192e7;
}

.zero {
  grid-column: 1/ 3;
  width: 100%;
}
